@import '../variables';

#info {
    margin-top: 4vw;
    font-size: 5vw;
    line-height: 6vw;
    
    h2 {
        font-size: 8vw;
        margin: 4vw 0;
    }

    a {
        text-decoration: none;
        color: inherit;
        text-decoration: underline;

        transition: color 0.3s ease-out;

        &:hover {
            color: $primaryColor;
        }
    }

    ul {
        margin-left: 4vw;
    }
}