@import '../variables';
@import '../mixins';

#graph-controller {
    margin-top: 4vw;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    button {
        @include buttonWithBorder();

        &:disabled {
            color: #fff;
            border-color: #fff;
            cursor: default;
        }
    }

    @include breakpoint(769px) {
        margin-top: 2vw;
    }

    @include breakpoint(1366px) {
        margin-top: 1vw;
    }
}