@import '../_variables.scss';
@import '../_mixins.scss';

#graph-controller {
    margin-top: 1rem;
    margin-left: 30vw;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;

    button {
        padding: 0.5rem;
        margin: 0.5rem;

        font-size: 1rem;

        @include buttonWithBorder();

        &:disabled {
            color: #fff;
            border-color: #fff;
            cursor: default;
        }
    }
}

@media screen and (max-width: 1090px) {
    #graph-controller {
        margin-left: 10vw;
    }
}