@import '../_variables.scss';

#interactive-console {
    margin-top: 4vw;
    padding: 2vw;

    font-size: 5vw;
    line-height: 6vw;
    color: $secondaryColor;
    background-color: transparent;
    // border: 2px solid $primaryColor;
}