@import '../_variables.scss';

#interactive-console {
    margin: 2vw;
    margin-left: 30vw;
    padding: 0.3rem;

    font-size: 1rem;
    color: $secondaryColor;
    background-color: transparent;
    border: 3px solid $primaryColor;

    overflow: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 1090px) {
    #interactive-console {
        margin-left: 10vw;
    }
}