@import '../_variables.scss';
@import '../_mixins.scss';

#toggle-sidebar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 2vw;
    z-index: 0;

    padding: 0.25vw 0.7vw;
    font-size: 2.5vw;


    @include buttonWithBorder();

    // display: none;
}

#sidebar {
    position: fixed;
    top: 0;
    z-index: 1;

    margin: 2vw 0;
    padding: 1vw;

    height: 96vh;
    width: 25vw;

    border: 2px solid #fff;
    background-color: $backgroundColor;
    color: $secondaryColor;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;

    header {
        align-self: center;
    }

    h1 {
        margin: 1vw;
        text-shadow: 2px 2px $primaryColor;
        line-height: 2rem;
    }

    #menu-collapse {
        cursor: pointer;
        background-color: transparent;
        border: none;

        width: 20%;

        color: $primaryColor;
        padding: 0.25vw 0.7vw;
        font-size: 2.5vw;
        font-weight: bold;

        transform: rotate(-20deg);

        margin-bottom: 2vw;

        // display: none;
    }

    #tutorial {
        margin-top: auto;
        padding: 2vw;
        padding-top: none;

        overflow-x: hidden;
        overflow-y: scroll;

        display: none;
    }

    display: none;
}

#vertical-scroll {
    position: fixed;
    right: 0;
    top: 35vh;

    writing-mode: vertical-lr;
    padding: 5vh 0;

    text-transform: uppercase;

    font-size: 0.5rem;
    background-color: $primaryColor;
    color: saturate($secondaryColor, 100%)
}

@media screen and (max-width: 700px) {
    #sidebar #tutorial {
        display: block;
    }
}