@import '../mixins';

.graph {
    box-sizing: content-box;
    
    position: relative;
    left: 5vw;
    width: 90vw;
    height: 60vh;
    margin-top: 4vw;

    border: 2px solid #fff;

    @include breakpoint(769px) {
        margin-top: 2vw;
    }

    @include breakpoint(1366px) {
        margin-top: 1vw;
    }
}