.graph {
    box-sizing: content-box;
    
    position: absolute;
    top: 10vh;
    left: 30vw;

    width: 65vw;
    height: 75vh;

    //temp styles
    border: 2px solid #fff;
}

@media screen and (max-width: 1090px) {
    .graph {
        left: 10vw;
        width: 85vw;
    }
}