@import '../_variables.scss';
@import '../_mixins.scss';

#menu {
    margin-left: 30vw;
    margin-top: 0.5rem;

    width: 65vw;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;

    // temp styles
    // border: 1px solid #fff;

    #algorithm-selector {
        // height: 50%;
        padding: 0.5rem;
        margin: 0.5rem;

        background-color: transparent;
        color: $primaryColor;
        border: 2px solid;
        border-color: $primaryColor;

        transition: color, border-color 0.3s ease-out;

        &:hover:not(:disabled) {
            color: saturate($secondaryColor, 100%);
            border-color: saturate($secondaryColor, 100%);
            background-color: $primaryColor;
        }
    }

    #begin {
        // height: 50%;
        padding: 0.5rem;
        margin: 0.5rem;

        @include buttonWithBorder();
        
        &:disabled {
            color: #fff;
            border-color: #fff;
            cursor: default;
        }
    }

    #display-text {
        margin: 0.5rem;

        font-size: 1rem;
        color: $secondaryColor;
    }
}

@media screen and (max-width: 1090px) {
    #menu {
        margin-left: 10vw;

        #display-text {
            display: none;
        }
    }
}