@import '../variables';
@import '../mixins';

#menu {
    margin-top: 4vw;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    font-size: 5vw;

    #algorithm-selector {
        font-size: 5vw;
        padding: 2vw;
        margin: 0 2vw;
        background-color: transparent;
        color: $primaryColor;
        border: 2px solid $primaryColor;
        text-transform: uppercase;
        outline: none;

        transition: color, border-color 0.3s ease-out;

        @media (hover: hover) {
            &:hover:not(:disabled) {
                color: saturate($secondaryColor, 100%);
                border-color: saturate($secondaryColor, 100%);
                background-color: $primaryColor;
            }
        }
    }

    #begin {
        @include buttonWithBorder();
        
        &:disabled {
            color: #fff;
            border-color: #fff;
            cursor: default;
        }
    }

    #display-text {
        width: 100%;
        text-align: center;
        padding: 2vw 2vw 0 2vw;
        padding-bottom: 0;
        color: $secondaryColor;

        @media screen and (max-width: 767px) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 8vh;
        }
    }

    @include breakpoint(480px) {
        font-size: 4vw;

        #algorithm-selector {
            font-size: 3vw;
            padding: 1vw;
        }
    }

    @include breakpoint(1366px) {
        margin-top: 1vw;
        font-size: 2vw;

        width: 90vw;
        margin-left: 5vw;
        justify-content: start;

        #algorithm-selector {
            font-size: 1.5vw;
            padding: 0.5vw;
            margin: 0 0.5vw;
        }

        #display-text {
            width: auto;
            padding: 0.5vw;
            margin-left: auto;
        }
    }
}