@mixin buttonWithBorder() {
    cursor: pointer;
    color: $primaryColor;
    background-color: transparent;
    border: 2px solid $primaryColor;
    text-transform: uppercase;

    padding: 2vw;
    margin: 0 2vw;
    font-size: 5vw;

    transition-property: color, border-color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    &:hover:not(:disabled) {
        background-color: $primaryColor;
        color: saturate($secondaryColor, 100%);
        border-color: saturate($secondaryColor, 100%);
    }

    @include breakpoint(480px) {
        padding: 1vw;
        margin: 0 2vw;
        font-size: 3vw;
    }

    @include breakpoint(1366px) {
        font-size: 1.5vw;
        padding: 0.5vw;
        margin: 0 0.5vw;
    }
}

@mixin breakpoint($size) {
    @media screen and (min-width: $size) {
        @content
    }
}