@mixin buttonWithBorder () {
    color: $primaryColor;

    background-color: transparent;
    border: 3px solid $primaryColor;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    transition-property: color border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    &:hover:not(:disabled) {
        background-color: $primaryColor;
        color: saturate($secondaryColor, 100%);
        border-color: saturate($secondaryColor, 100%);
    }
}