@import './variables';
@import './mixins';

html {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    box-sizing: border-box;

    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: $backgroundColor;
    color: #fff;

    overflow-x: hidden;
    position: relative;

    /**
    * Addressing bottom nav bar issue on safari
    */
    height: 100%;
    overflow-y: scroll;
}

*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
