.node {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    /**
    * Temporary style
    */
    border: 1px solid black;
    

    &.node--is-active {
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 50%;
    }

    &.node--not-in-graph {
        visibility: hidden;
    }
}