@import '../_variables.scss';

.circle {
    stroke-width: 2px;
    stroke: #fff;
}

.hovered-node {
    cursor: pointer;
}

// .node-id {
//     font-size: 1.2rem;
//     color: rgba(32, 21, 19, 1);;
// }